.contenedor{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.logo{
    width: 6rem;
    height: 6rem;
    margin-left: 2rem;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}