
.videoqs{
    height: 500px;
    width: 50%;
}

.mapa{
    height: 500px;
    width: 50%;
}

.tituloqs{
    color: black;
    font-family: "Volkorn", sans-serif;
    -webkit-font-smoothing: antialiased;
}

.infos{
    position: relative;
    margin-top: 20px;
    width: 50%;
    left: 28%;
    height: 200px;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: lighter;
    
}

.columnas{
    width: 33%;
    text-align: justify;
    padding-right: 20px;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight:bold;
}

th{
    
    color: black;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: lighter;
    margin-right: 5px;
}

ul{
    text-align: left;
    margin-top: 0;
    
    left: -5%;
    list-style: none;
}

li{
    left: -5%;
    
    margin-left: -40px;
}

p{
    color: black;
}

/* ESTILO DEL FORMULARIO DE CONTACTO */
.InfoCont{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Info{
    width: 40%;
    flex: 1;
}

.formulario{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.Name{
    height: 30px;
    margin-bottom: 30px;
    width: 100%;
    
}

.Email{
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
    
}

.Message{
    width: 100%;
    height: 90px;
    margin-bottom: 30px;
    justify-content: flex-start;
    
}


.btt{
    color: white;
    background-color: black;
    border-radius: 5%;
    width: 100px;
}

.mex{
    margin-bottom: 2px;
}