.contenedor{
    margin-bottom: 2rem;
}
.videoqs{
    height: 500px;
    width: 50%;
}

.mapa{
    height: 500px;
    width: 50%;
}

.tituloqs{
    color: black;
    font-family: "Volkorn", sans-serif;
    -webkit-font-smoothing: antialiased;
}

.infos{
    position: relative;
    margin-top: 20px;
    width: 50%;
    left: 28%;
    height: 200px;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: lighter;
    
}

.columnas{
    width: 27%;
    text-align: left;
    color: black;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight:bold;
}

th{
    
    color: black;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: lighter;
    margin-right: 5px;
}

ul{
    text-align: left;
    margin-top: 0;
    
    left: -5%;
    list-style: none;
}

li{
    left: -5%;
    
}