
/* ESTILO DEL FORMULARIO DE CONTACTO */
.InfoCont{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Info{
    width: 40%;
    flex: 1;
}

.formulario{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.Name{
    height: 30px;
    margin-bottom: 30px;
    width: 100%;
    
}

.Email{
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
    
}

.Message{
    width: 100%;
    height: 90px;
    margin-bottom: 30px;
    justify-content: flex-start;
    
}


.btt{
    color: white;
    background-color: black;
    border-radius: 5%;
    width: 100px;
}

.mex{
    margin-bottom: 2px;
}

.tituloqs{
    color: black;
    font-family: "Volkorn", sans-serif;
    -webkit-font-smoothing: antialiased;
}
