.contenedor{
    width: 100%;
    height: 30rem;
    display: flex;
    background-color: #f3f2ee;
}

.imagen{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-left: 3rem;
}
.info{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info h3{
    color: red;
    text-align: center;
}

.info h2{
    text-align: justify;
}
p{
    color: #000;
}
.contenido{
    width: 80%;
    
}
.imagen img{
    height: 90%;
    object-fit: cover;
}
.titulo{
    width: 100%;
    height: 100%;
    border: salmon solid;
}
/* Contador */
.timer{
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 7em;
    padding-top: 2em;
    width: 100%;
    height: 80%;
}

.timer div:first-child{
 text-align: center;   
}
.timer div:first-child p{
    color: rgba(0, 0, 0, 0.8);
}

.timer div:last-child{
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-top: 3em;
    padding: 3em;
    text-align: center;
    align-items: center;
}

section p:first-child, .timer div:last-child span{
    font-size: 3em;
}
span{
    margin-bottom: 3rem;
}