.contenedor{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: end;
    
}

nav{
    background: #fff;
    border-radius: 50px;
    padding: 0px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}

nav ul li.us:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

nav ul li::after{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}
nav ul li.ini::after{
    background: #fa6966;
}
nav ul li.rop::after{
    background: #f9b24a;
}
nav ul li.not::after{
    background: #be66fa;
}
nav ul li.inf::after{
    background: #93cc49;
}

nav ul li:hover{
    color: #fff;
}
nav ul li:hover::after{
    top: 50%;  
    opacity: 1; 
}

.us img{ 
    width: 2rem;
}