.formulario {
   border: 2px solid #000;
   background-color: rgba(256, 256, 256, 0.05);
   padding-bottom: 50px;
   padding-left: 80px;
   padding-right: 80px;
   border-radius: 10px;
   margin-left: 12%;
   width: 60%;
   color: white;
 }
 
   .formulario div {
      background-color: #fff;
      color: #fff;
      border-radius: 10px;
      padding-bottom: 10px;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 10px;
   }
 
   .formulario button {
      border-radius: 10px;
      background-color: white;
      color: black;
   }

   .formulario button:hover {
      border-radius: 10px;
      background-color: black;
      color: white;
   }

 .btnLink{
   border-radius: 10px;
      background-color: blue;
      color: #fff;
 }
   .formulario input {
      justify-content: center;
      background-color: rgb(245, 245, 245);
      color: #000;
      display: flex;
      margin: auto;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-radius: 10px;
      border: 2px solid rgb(0, 102, 255);
   }

   .formulario a {
      font-style: none;
      font-size: 0.8rem;
   }