footer{
    background-color:black;
    width: 100%;
    min-height: 200px;
    position: relative;
}

.ubicaciones{
    position: absolute;
    width: 50%;
    left: 0;
    opacity: 1;
    
}

.info{
    position: absolute;
    width: 50%;
    right: 0;
}

.hacheuno{
    color: white;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
}

p{
    color: white;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: lighter;
}

.iconos{
    max-width: 30px;
    max-height: 30px;
    position: absolute;
    left: 35%;
    background-color: white;
    border-radius: 100%;
}
.conespacio{
    margin-left: 10%;
}


.linkss{
    color: white;
    padding: 9px;
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 2px;
    border-radius: 10%;
    transition: all 0.5s ease;
}
.linkss:hover{
    
    background-color: white;
    color: black;
    
    /*padding-left: 50px;
    padding-right: 50px;*/
    border-radius: 10%;
    width: 100%;
    transform: scaleX(1);
    transform-origin: left;
}

.copyright{
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    text-align: center;
    color: white;
}

footer p{
    color: white;
}
